### Pandas

Import the Pandas library and save it with the alias pd.

In [1]:
import pandas as pd

Pandas have 2 objects that are series and data frame.

#### Object Series
- Object Series has 1-dimensional data.
- It doesn't have a column name because it has only one column.
- It has index.

In [2]:
data = [0.25, 0.50, 0.75, 1]

In [3]:
print(data)

[0.25, 0.5, 0.75, 1]

Convert the data into a series.

In [4]:
data = pd.Series(data)

In [5]:
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

Task 1

In [6]:
waktu = [7.18, "Selasa", "Oktober", 2023]

In [7]:
print(waktu)

[7.18, 'Selasa', 'Oktober', 2023]

In [8]:
waktu = pd.Series(waktu)

In [9]:
waktu

0       7.18
1     Selasa
2    Oktober
3       2023
dtype: object

Convert the data from series into an array.

In [10]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

Display the index. 

The index is a range, where the start point is inclusive in the range, and the end point is exclusive from the range.

In [11]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Print the data using index

In [13]:
data[2]

0.75

Task 2

In [14]:
waktu = [7.18, "Selasa", 3, "Oktober", 2023]

waktu = pd.Series(waktu)

In [15]:
# convert series into an array

waktu.values

array([7.18, 'Selasa', 3, 'Oktober', 2023], dtype=object)

In [16]:
#show index

waktu.index

RangeIndex(start=0, stop=5, step=1)

In [17]:
# slicing

waktu[1:4:2]

1     Selasa
3    Oktober
dtype: object

Implicit index are the default index. <br>
We can define the index ourselves, which are called explicit index, and they are the ones that we specify. <br>
When defining index, the number of indices must match the number of data points.

In [18]:
data = pd.Series([0.25, 0.50, 0.75, 1], index = ['a','b','c','d'])

In [19]:
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [20]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [21]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

Print the data using explicit index and implisit index

In [22]:
# index explicit

data['a']

0.25

This is data selection. <br>
Even though we have defined explicit index, we can still call the implicit index.

In [23]:
# index implisit

data[3]

1.0

Task 3

In [24]:
waktu = pd.Series([7.18, "Selasa", 3, "Oktober", 2023], index = ["Pukul", "Hari", "Tanggal", "Bulan", "Tahun"])

In [25]:
waktu

Pukul         7.18
Hari        Selasa
Tanggal          3
Bulan      Oktober
Tahun         2023
dtype: object

In [26]:
waktu["Hari"]

'Selasa'

In [27]:
waktu[2:5]

Tanggal          3
Bulan      Oktober
Tahun         2023
dtype: object

When the implicit index and explicit index are the same, when we call the data, it will depend on the explicit index.

In [28]:
data_2 = pd.Series([0.25, 0.50, 0.75, 1], index = [2,5,3,7])

In [29]:
data_2[2]

0.25

In [30]:
# data_2[0]

Task 4

In [31]:
data_3 = pd.Series([21, 22, 23, 24.5, 25, 26, 27.5, 28, 29, 30], index = [5,11,15,1,40,3,66,32,23,45])

In [32]:
data_3[3]

26.0

In [33]:
# data_3[2]

Slicing data with explicit index and implisit index

In [34]:
data = pd.Series([0.25, 0.50, 0.75, 1], index = ['a','b','c','d'])

In [35]:
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

Show data from b to c:

In [36]:
# index explicit
data['b':'c']

b    0.50
c    0.75
dtype: float64

When we slice using implicit index, only the starting point will be shown, as implicit index are in the form of a range.

In [37]:
# index implisit
data[1:2]

b    0.5
dtype: float64

Task 5

In [38]:
aktivitas = pd.Series([7.18, "Selasa", 3, "Oktober", 2023, "Kelas pagi", "Data Analyst", "MyEduSolve", 6, "Pandas"], 
                      index = ["Pukul", "Hari", "Tanggal", "Bulan", "Tahun", "Aktivitas", "Pathway", "Di", "Week", "Materi"])

In [39]:
aktivitas

Pukul                7.18
Hari               Selasa
Tanggal                 3
Bulan             Oktober
Tahun                2023
Aktivitas      Kelas pagi
Pathway      Data Analyst
Di             MyEduSolve
Week                    6
Materi             Pandas
dtype: object

In [40]:
# slicing explicit
aktivitas["Tanggal":"Pathway"]

Tanggal                 3
Bulan             Oktober
Tahun                2023
Aktivitas      Kelas pagi
Pathway      Data Analyst
dtype: object

In [41]:
# slicing implisit 2 paramater
aktivitas[4:9]

Tahun                2023
Aktivitas      Kelas pagi
Pathway      Data Analyst
Di             MyEduSolve
Week                    6
dtype: object

In [42]:
# slicing implisit 3 parameter
aktivitas[2:10:3]

Tanggal               3
Aktivitas    Kelas pagi
Week                  6
dtype: object